
@font-face {
	font-family: 'chuck-noon';
	src: url(../fonts/chuck-noon/MTD-Chuck-Noon-Script.otf);
}
@font-face {
	font-family: 'american-sans';
	src: url(../fonts/american-Sans.ttf);
}
@font-face {
	font-family: 'ambassador';
	src: url(../fonts/VLAMBASSADOR.OTF);
}
body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color: $black;
	&:hover{
		text-decoration: none;
	}
}
