.list-disease {
	margin-bottom: 50px;

	.disease-item {
		margin-bottom: 16px;
	}

	.disease-inner {
		padding: 12px;
		background: #E6F3ED;
		border-radius: 10px;
		display: flex;
		height: 100%;
	}

	.inner-title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.inner-img {
		margin-right: 14px;
		flex-shrink: 0;
	}
}

.disease-content {
	margin-bottom: 50px;

	p {
		margin-bottom: 50px;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.archive-disease {
	.list-doctor {
		margin-bottom: 50px;
	}
}

.slide-content {
	position: absolute;
	top: 25%;
	left: 25%;
	text-align: center;
	transform: translateY(25%);

	.title {
		color: #FEFDBC;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 32px;
		margin-bottom: 12px;
	}

	.list {
		display: flex;

		.item {
			color: $lingt;
			font-size: 18px;
			font-weight: 700;
			margin-right: 16px;
			padding-right: 16px;

			&:first-child {
				&::marker {
					color: transparent;
				}
			}
		}
	}

	@media (max-width:575px) {
		left: 7%;
		top: 10%;

		.list {
			list-style: none;
			display: block;
		}
	}
}