.home {
	.section-title {
		font-size: 32px;
		font-weight: 700;
		color: $green;
		margin-bottom: 12px;
	}

	.section-title-child {
		font-size: 55px;
		color: #048449;
		margin-bottom: 16px;
		font-family: 'chuck-noon';
		line-height: normal;
	}

	.home-slider {
		background: $green;
		margin-bottom: 50px;
	}

	.section-desc {
		margin-bottom: 24px;
	}

	.section-link-more {
		color: $lingt;
		background: $green;
		padding: 8px 15px;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 800;

		&:hover {
			color: $yellow;
		}
	}

}

.home-about {
	margin-bottom: 50px;

	.section-title {
		margin-bottom: 0;
		color: #2E2E2F;
	}

	.col-text {
		margin: auto;
	}

	.section-img {
		width: 100%;
		aspect-ratio: 276/191;
		border-radius: 10px;
	}

	@media (max-width:575px) {
		.col-text {
			margin-bottom: 16px;
		}
	}
}

.home-solution {
	margin-bottom: 50px;

	.section-title {
		color: #2E2E2F;
		font-size: 26px;

		&-child {
			margin-bottom: 0;
		}
	}

	.col-text {
		margin: auto;
		background-color: #E6F3ED;
		border-radius: 10px;
		padding: 50px 43px 135px 43px;
		text-align: center;
	}

	.section-desc {
		font-weight: 700;
	}

	.section-img {
		width: 100%;
		aspect-ratio: 23/18;
	}

	.solution-row2 {
		padding: 18px;
		background: #048449;
		border-radius: 10px;
		width: calc(100% - 50px);
		margin: 0 auto;
		margin-top: -110px;
		height: 224px;
		align-items: flex-end;

		.box-solution {
			text-align: center;
			.box-img {
				display: flex;
				width: 87px;
				height: 87px;
				border-radius: 50%;
				background: #9BCEB6;
				border: 1px solid #fff;
				align-items: center;
				justify-content: space-around;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: auto;
			}

			&:nth-child(2) {
				.box-img {
					background: #68B592;
				}
			}

			&:nth-child(3) {
				.box-img {
					background: #369D6D;
				}
			}

			&:nth-child(4) {
				.box-img {
					background: #369D6D;
				}
			}

			&:nth-child(5) {
				.box-img {
					background: #369D6D;
				}
			}
		}

		.title {
			font-size: 21px;
			font-weight: 700;
			color: $lingt;
			margin-bottom: 0;
		}
	}

	@media (max-width:575px) {
		.col-text {
			padding-left: 16px;
			padding-right: 16px;
			text-align: left;
		}

		.solution-row2 {
			height: auto;
			justify-content: flex-start;

			.box-solution {
				&:not(:last-child) {
					margin-bottom: 34px;
				}
			}
		}
	}
}

.home-solution-2 {
	display: flex;
	position: relative;

	.home-solution-list {
		margin-bottom: 0;
		list-style: none;
		padding-left: 0;
		position: absolute;
		right: 150px;

		.item {
			&:nth-child(1) {
				margin-bottom: 47px;
				padding-left: 30px;
			}
		}

		.link-text {
			font-size: 33px;
			text-transform: uppercase;
			font-weight: 700;

			&:hover {
				color: $green;
			}
		}
	}
}

.home-slide-solution {
	background: #FAFAFB;
	padding: 50px 0;
	margin-bottom: 50px;

	.section-title {
		margin-bottom: 12px;
	}

	.section-desc {
		width: 54%;
		margin: 0 auto 24px auto;
	}

	.inner {
		border-radius: 10px;
		background: #048449;
		border: 1px solid #048449;
		text-align: center;
		overflow: hidden;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: center;
	}

	.inner-content {
		padding: 12px 8px;
	}

	.inner-link {
		display: block;
		background: #E6F3ED;
		padding: 24px 0;
		clip-path: ellipse(95% 100% at 50% 100%);
		width: 100%;
	}

	.inner-title {
		font-size: 28px;
		font-family: 'chuck-noon';
		margin-bottom: 0;
		line-height: normal;

		.link {
			color: #FADCAC;

			&:hover {
				text-decoration: none;
				color: $yellow;
			}
		}
	}

	.inner-desc {
		font-size: 12px;
		color: $lingt;
		font-weight: 700;
		margin-bottom: 0;
	}

	.slick-prev {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		left: 10px;
		z-index: 1;

		&:before {
			content: '\f104';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}

	.slick-next {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		right: 10px;
		z-index: 1;

		&:before {
			content: '\f105';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}

	.slick-track {
		left: 50px;
		display: flex;

		img {
			display: inline;
		}
	}

	@media (max-width: 575px) {
		.solution-item {
			padding-left: 8px;
			padding-right: 8px;
			height: inherit;
		}

		.section-desc {
			width: 100%;
		}
	}
}

.home-difference {
	margin-bottom: 44px;

	.section-title {
		margin-bottom: 12px;
	}

	.difference-item {
		margin-bottom: 16px;
	}

	.inner {
		padding: 14px 20px 11px 15px;
		background: #E6F3ED;
		border-radius: 10px;
		height: 100%;

		&-img {
			height: 37px;
			aspect-ratio: 1;
			margin-bottom: 11px;
		}

		&-title {
			font-size: 15 px;
			font-weight: 700;
			margin-bottom: 0;
		}
	}
}

.home-expert {
	margin-bottom: 50px;

	.slick-prev {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		left: 15px;
		z-index: 1;

		&:before {
			content: '\f104';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}

	.slick-next {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		right: 15px;
		z-index: 1;

		&:before {
			content: '\f105';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}

	@media (max-width:575px) {
		.slick-track {
			left: 60px;
		}
	}
}

.home-disease {
	margin-bottom: 26px;

	.home-list-disease {
		position: relative;
	}

	.section-title {
		margin-bottom: 12px;
	}

	.section-desc {
		max-width: 50%;
		margin: 0 auto 25px auto;
	}

	.disease-item {
		margin-bottom: 24px;
	}

	.inner {
		padding: 33px 18px;
		border-radius: 10px;
		background: #FAFAFB;
		height: 100%;

		&-link {
			text-align: center;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}

		&-img {
			height: 68px;
			max-width: 83px;
			margin-bottom: 8px;
		}

		&-title {
			font-weight: 700;
			font-size: 16px;
			color: $black;
			margin-bottom: 0;
		}

		&:hover {
			box-shadow: 0 0 15px rgba($color: #048449, $alpha: 0.2);
			background: $lingt;
		}
	}

	.item-hide {
		display: none;
	}

	@media (max-width:575px) {
		.section-desc {
			max-width: 100%;
		}
	}
}

.home-feedback {
	background: #E6F3ED;
	padding: 50px 0;
	margin-bottom: 50px;

	.section-title {
		margin-bottom: 12px;
	}

	.section-desc {
		width: 75%;
		margin: 0 auto 24px auto;
	}

	.inner {
		padding: 8px;
		background: $green;
		border-radius: 10px;

		&-img {
			width: 100%;
			aspect-ratio: 209/117;
			margin-bottom: 12px;
			border-radius: 10px;
			display: block;
			position: relative;

			&::after {
				content: '';
				background: url('../images/icons/icon-youtobe.svg') no-repeat;
				background-size: cover;
				position: absolute;
				width: 54px;
				height: 30px;
				top: 40%;
				left: 40%;
			}
		}

		&-title {
			color: $lingt;
			font-size: 16px;
			font-weight: 700;
		}

		img {
			object-fit: cover;
			object-position: 50% 50%;
			-o-object-position: 50% 50%;
			width: 100%;
			height: 100%;
		}
	}

	.slick-arrow {
		display: none !important;
	}

	.slick-track {
		margin: 50px 0;
	}

	.slick-dots {
		li {
			button {
				&:before {
					font-size: 11px;
					color: $green;
				}
			}
		}

		.slick-active {
			button {
				&:before {
					color: $green;
				}
			}
		}
	}

	.feeback-item {
		&:not(.slick-current) {

			display: flex;
			align-items: center;

			.inner {
				transform: scale(.9);
				transition: all .5s ease;
				background: transparent;
				padding: 0;
			}

			.inner-title {
				display: none;
			}
		}

		&.slick-current {
			.inner {
				transform: scale(1.3);
				transition: all .5s ease;
				position: relative;
				z-index: 2;
			}
		}
	}

	@media (max-width:575px) {
		.slick-track {
			left: 45px;
		}

		.list-feedback {
			padding: 0;
		}
	}
}

.home-newspaper {
	.section-title {
		margin-bottom: 12px;
	}

	.list-newspaper {
		margin-bottom: 50px;

		.slick-prev {
			width: 25px;
			height: 25px;
			background: rgba($color: #000000, $alpha: 0.25);
			border-radius: 50%;
			left: 0;
			z-index: 1;
			top: 35%;

			&:before {
				content: '\f104';
				font-family: 'FontAwesome';
				opacity: 1;
				color: $lingt;
			}
		}

		.slick-next {
			width: 25px;
			height: 25px;
			background: rgba($color: #000000, $alpha: 0.25);
			border-radius: 50%;
			right: 0;
			z-index: 1;
			top: 35%;

			&:before {
				content: '\f105';
				font-family: 'FontAwesome';
				opacity: 1;
				color: $lingt;
			}
		}

		.inner {
			padding: 12px;
			height: 100%;
			border-radius: 10px;
			box-shadow: 0 0 14px #f5f5f5;

			&-img {
				width: 100%;
				aspect-ratio: 79/60;
				display: block;
				margin-bottom: 16px;
				border-radius: 10px;

				img {
					object-fit: cover;
					object-position: 50% 50%;
					-o-object-position: 50% 50%;
					width: 100%;
					height: 100%;
				}
			}

			&-logo {
				height: 38px;
				margin-bottom: 12px;
			}

			&-title {
				font-size: 16px;
				font-weight: 700;
				line-height: 1.7;
				margin-bottom: 0;
			}

			&:hover {
				box-shadow: 0 0 20px #EAECEF;
			}
		}

		.slick-track {
			display: flex;
			margin: 15px 0;
		}

		.newspaper-item {
			height: inherit;
		}
	}

	@media (max-width:575px) {
		.slick-track {
			left: 115px;

		}
	}
}

.home-newspaper-top {
	background: #FAFAFB;
	padding: 50px 0;
	margin-bottom: 50px;

	.section-title {
		margin-bottom: 22px;
	}

	.row-post {
		margin-bottom: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid;
		border-bottom-style: dashed;
		border-bottom-color: #707070;
	}

	@media (max-width:575px) {
		.row-post {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.row-col {
			.post {
				display: flex;
			}

			.post-thumbnail {
				width: 182px;
				height: 102px;
				margin-right: 16px;
				flex-shrink: 0;
				aspect-ratio: unset;
			}
		}
	}
}

.home-partner {
	margin-bottom: 67px;

	.section-title {
		margin-bottom: 16px;
	}

	.slick-prev {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		left: 0;
		z-index: 1;
		top: 50%;

		&:before {
			content: '\f104';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}

	.slick-next {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		right: 0;
		z-index: 1;
		top: 50%;

		&:before {
			content: '\f105';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}

	.inner {
		padding: 16px;
		box-shadow: 0 0 10px #F5F5F7;
		border-radius: 10px;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	@media (max-width:575px) {
		//.slick-track {
		//	left: -130px;
		//}
		//.inner{
		//	width: auto !important;
		//}
	}
}