.page-acupuncture-points {
	.breadcrumb {
		margin-bottom: 50px;
	}

	.list-alphabet {
		list-style: none;
		display: flex;
		background: #E6F3ED;
		border-radius: 10px;
		padding: 16px 24px;
		justify-content: space-between;
		margin-bottom: 16px;

		.link {
			font-weight: 18px;
			font-family: 'nunitosan-extrabold';
		}
	}
}

.acument-part {
	border: 1px solid #E5E7EB;
	border-radius: 10px;
	padding: 24px 26px;
	margin-bottom: 65px;
	display: flex;

	.list-part {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		padding-top: 10px;
	}

	.item {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.link-item {
		font-weight: 700;
		display: inline-block;
		font-size: 16px;
	}

	.icon-part {
		width: 48px;
		aspect-ratio: 1;
		padding: 12px;
		border-radius: 50%;
		background: #E6F3ED;
		margin-right: 14px;
	}
}