.page-experience{
	.box-sapo{
		width: 75%;
		text-align: center;
		margin: 0 auto 50px auto;
	}
	.list-video{
		margin-bottom: 50px;
	}
	.list-story{
		margin-bottom: 27px;
		.post{
			margin-bottom: 23px;
		}
	}
}