.page-communications {
	.breadcrumb {
		margin-bottom: 50px;
	}

	.info-meta {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.info-text {
			margin-bottom: 5px;
		}
	}

	.link-number-phone {
		font-size: 26px;
		font-weight: 700;
		background: #E6F3ED;
		border-radius: 50px;
		padding: 10px 31px;

		.fa-phone {
			color: $green;
			margin-right: 10px;
		}
	}

	.google-map{
		margin-bottom: 0;
		height: 450px;
		iframe{
			border-radius: 0;
		}
	}
}

.communications-form {
	margin-bottom: 50px;
	padding: 24px 26px;
	border: 1px solid #E5E7EB;

	.form-title {
		text-transform: none;
		margin-bottom: 0;
	}

	.form-desc {
		margin-bottom: 20px;
	}

	.form-group {
		&:last-child {
			margin-bottom: 36px;
		}
	}

	.btn-send {
		background: #F2A82F;

		&:hover {
			background: $green;
		}
	}
}