.main-introduce {
	background: #F5FFFA;

	.introduce-title {
		font-family: 'american-sans', sans-serif;
		color: $green;
		font-size: 45px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 25px;
	}

	.entry {
		font-size: 18px;
	}

	.post-technicians {
		background: #fff;
	}

	.list-expert {
		margin-bottom: 50px;

	}

	img {
		display: block;
	}

	.box-img {
		margin-bottom: 50px;

		img {
			border-radius: 10px;
			height: 100%;
			width: 100%;
		}
	}

	.box-text {
		padding: 21px 15px;
		background: $green;
		color: #fff;
		border-radius: 10px;
		width: 80%;
		margin: 0 auto 50px auto;
		font-size: 18px;

		p {
			margin-bottom: 0;

			b {
				color: #FEFDBC;
			}
		}

		@media (max-width:575px) {
			width: 100%;
		}
	}

	@media (max-width:575px) {
		.list-expert {
			.item {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}

		.introduce-title {
			font-size: 34px;
		}
	}
}

.banner-introduce {
	position: relative;
	margin-bottom: 70px;

	.banner-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'american-sans', sans-serif;
		color: #FEFDBC;
		line-height: 1.7;
		font-size: 45px;
		margin-bottom: 0;
	}

	.title-child {
		font-family: 'ambassador';
		color: #fff;
		margin-bottom: 0;
	}

	@media (max-width:575px) {
		.banner-title {
			font-size: 37px;
			width: 100%;
			text-align: center;
		}

		.title-child {
			font-size: 38px;
			width: 70%;
			margin: 0 auto;
		}
	}
}

.entry-introduce {
	img {
		border-radius: 10px;
		display: block;
	}

	padding: 19px;
	background: #E6F3ED;
	border-radius: 10px;
	margin-bottom: 50px;
	font-size: 18px;

	.qoute {
		color: $green;
		font-size: 40px;
		text-align: center;
	}
}

.list-history {
	display: flex;
	list-style: none;
	padding-left: 0;
	padding-top: 30px;
	position: relative;
	margin-bottom: 50px;

	.item {
		padding: 12px;
		background: #E6F3ED;
		border-radius: 10px;
		position: relative;

		&-title {
			color: $green;
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 6px;
			text-align: center;
		}

		&:not(:last-child) {
			margin-right: 16px;

			&::after {
				content: '';
				position: absolute;
				top: -21px;
				height: 2px;
				width: 105%;
				left: 50%;
				background-color: #048449;
			}
		}

		&::before {
			content: '\f111';
			font-family: 'FontAwesome';
			color: $green;
			font-size: 20px;
			position: absolute;
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@media (max-width:575px) {
		display: block;
		padding-left: 47px;

		.item {
			margin-right: 0;
			width: 95%;

			&-title {
				text-align: left;
			}

			&:not(:last-child) {
				margin-bottom: 16px;

				&::after {
					content: '';
					position: absolute;
					top: -16px;
					height: 110%;
					width: 2px;
					left: -35px;
					background-color: #048449;
					transform: translate(8px, 65px);
				}
			}

			&::before {
				content: '\f111';
				font-family: 'FontAwesome';
				color: $green;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: -35px;
				transform: translateY(-50%);
			}
		}
	}
}


.history-two {
	.box-img {
		margin-bottom: 25px;
	}
}

.history-three {
	.entry {
		margin-bottom: 50px;
	}
}


.banner-introduce2 {
	margin-bottom: 50px;
	background: url('../images/archive/banner-introduce.jpg') no-repeat;
	background-size: cover;
	height: 149px;
	display: flex;
	align-items: center;
	justify-content: center;

	.banner-title {
		font-size: 18px;
		color: #fff;
		font-weight: 700;
		width: 85%;
		margin-bottom: 0;

		span {
			color: #FEFDBC;
		}
	}

	@media (max-width:575px) {
		height: 225px;

		.banner-title {
			width: 100%;
		}
	}
}

.page-basis {
	margin-bottom: 50px;

	.inner-basis {
		padding: 17px;
		background: #E6F3ED;
		border-radius: 12px;
	}

	.inner-title {
		font-size: 20px;
		font-weight: 700;
		color: $green;
	}

	.inner-content {
		font-weight: 700;
		font-size: 18px;

		p {
			margin-bottom: 0;
		}
	}

	.basis-hcm {
		background: #FEF6EA;

		.inner-title {
			color: #F2A82F;
		}
	}

	@media (max-width:575px) {
		.inner-basis {
			margin-bottom: 16px;
		}
	}
}

.list-introduce-basis {
	margin-bottom: 50px;

	img {
		border-radius: 10px;
	}

	.slick-prev {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		left: 10px;
		z-index: 1;

		&:before {
			content: '\f104';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}

	.slick-next {
		width: 25px;
		height: 25px;
		background: rgba($color: #000000, $alpha: 0.25);
		border-radius: 50%;
		right: 10px;
		z-index: 1;

		&:before {
			content: '\f105';
			font-family: 'FontAwesome';
			opacity: 1;
			color: $lingt;
		}
	}
}

.list-reward {
	margin-bottom: 50px;

	.item-img {
		width: 100%;
		aspect-ratio: 261/358;
		margin-bottom: 18px;
	}

	.item-title {
		font-size: 18px;
		font-weight: 700;
	}

	@media (max-width:575px) {
		.slick-track {
			left: 130px;
		}
	}
}

.bottom-content {
	padding-bottom: 65px;

	.inner {
		background: #fff;
		padding: 0 18px;
		height: 375px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba($color: #048449, $alpha: 0.2);
		position: relative;
		height: 100%;

		&-desc {
			font-size: 18px;
			padding-top: 100px;
			padding-bottom: 20px;
		}

		&-title {
			font-family: 'ambassador';
			font-size: 48px;
			color: #fff;
			background: $green;
			padding-top: 12px;
			text-align: center;
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
			margin-bottom: 0;
			width: 70%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@media (max-width:575px) {
		.item {
			margin-bottom: 16px;
		}
	}
}