.header-logo {
	padding: 17px 0;
	border-bottom: 1px solid #E2E2E2;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		width: 258px;
		aspect-ratio: 129/37;
	}

	.header-cta {
		display: flex;

		.header-cta-link {
			text-decoration: none;
			display: flex;
			align-items: center;
			margin-right: 25px;
		}

		.header-img {
			width: 24px;
			aspect-ratio: 1;
			margin-right: 10px;
		}

		.header-cta-text {
			font-weight: 700;
			color: $black;
		}
	}

	.form-header-search {
		margin-right: 37px;
		position: relative;

		.inp-search {
			border-radius: 19px;
		}

		.header-btn-search {
			position: absolute;
			background: transparent;
			border: none;
			top: 0;
			right: 0;
			color: $yellow;
			font-size: 15px;
			width: 20%;
			border-radius: 19px;
		}
	}

	@media (max-width:575px) {
		border: none;
		background: $lingt;
		z-index: 2;

		.logo {
			width: 153px;
			aspect-ratio: 153/43;
		}

		.header-cta-mb {
			display: flex;
			align-items: center;

			.cta-item {

				width: 40px;
				height: 40px;
				border-radius: 20px;
				box-shadow: 0 0 6px #ECF4FC;
				display: flex;
				align-items: center;
				justify-content: center;

				.fa-search,
				.fa-bars {
					color: $green;
					font-size: 15px;
				}

				.img-cart {
					width: 18px;
					height: 16px;
				}

				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}

		.form-header-search {
			position: absolute;
			display: none;
			top: 77px;
			width: 44%;
		}
	}
}

.menu-header {
	padding: 17px 0 14px 0;

	.main-menu {
		width: 100%;

		li {
			.nav-link {
				color: $black;
				font-weight: 700;
				padding: 0 5px;
			}

			&:hover {
				.dropdown-menu {
					display: block;
					margin-top: 0;
				}
			}

			&:not(:last-child) {

				margin-right: 42px;
			}
		}
	}

	@media (max-width:575px) {
		padding: 0;
		display: none;

		.main-menu {
			li {
				border-bottom: 1px solid #e8e8e8;

				.nav-link {
					padding: 11px 0;
				}

				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
	}
}

.mini-cart {
	padding: 6px 15px;
	border-radius: 18px;
	background: #F5F5F7;
	position: relative;

	img {
		margin-right: 0;
		width: 26px;
		height: 23px;
	}

	.number-cart {
		position: absolute;
		top: -10px;
		right: 0;
		background: $green;
		width: 18px;
		height: 18px;
		text-align: center;
		font-size: 12px;
		border-radius: 10px;
		font-weight: 500;
		line-height: 18px;
		color: $lingt;
	}

	.table-collaterals {
		th {
			min-width: 100px;
		}
	}

	.mini-cart-content {
		position: absolute;
		width: 300px;
		padding: 11px;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 0 10px #E6F3ED;
		right: 0;
		bottom: -55px;
		z-index: 1;

		&::before {
			content: "";
			display: block;
			border-top: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #fff;
			border-left: 10px solid transparent;
			position: absolute;
			top: -20px;
			right: 25px;
		}

		.cart-notice {
			margin-bottom: 0;
		}
	}
}

@media (max-width:575px) {
	.page-header {
		top: 0;
		position: sticky;
		z-index: 2;
		background: $lingt;
	}

	.show-menu {
		display: block !important;
	}
}