
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/FontAwesome.otf');
}

@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
	font-family: 'UTM Androgyne';
	src: url('fonts/UTM Androgyne.ttf');
}

@font-face {
	font-family: 'UTM Ong Do Gia';
	src: url('fonts/UTM Ong Do Gia.ttf');
}
